<footer class="footer">
  <div class="container">
    <a href="" class="ftr-logo"></a>
    <ul class="ftr-soc-list">
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <adress class="ftr-tel">
      <a class="ftr-tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </adress>
    <p class="ftr-title"></p>
    <ul class="ftr-menu-1">
      <li class="ftr-m-item"><a href="" class="ftr-m-link"></a></li>
      <li class="ftr-m-item"><a href="" class="ftr-m-link"></a></li>
    </ul>
    <ul class="ftr-menu-2">
      <li class="ftr-m-item"><a href="" class="ftr-m-link"></a></li>
      <li class="ftr-m-item"><a href="" class="ftr-m-link"></a></li>
      <li class="ftr-m-item"><a href="" class="ftr-m-link"></a></li>
    </ul>
    <a href="" class="ftr-m-link"></a>
    <p class="ftr-ad-text"></p>
    <a href="" class="copyrights"></a>
    <div class="policy">
      <a href="" class="terms-link"></a><a href="" class="policy-link"></a>
    </div>
  </div>
</footer>
