<footer class="footer">
  <div class="container">
    <a href="" class="ftr-logo"></a>
    <ul class="ftr-soc-list">
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
      <li class="soc-list-item">
        <a href="" class="ftr-soc-link">
          <svg class="ftr-soc-icon">
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
