<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-span">collection</span>collection of
      premium watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-icon-scroll">
      <!-- <ul class="hero-list">
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
      </ul> -->
      <img
        src="../img/hero-icons.png"
        alt="people"
        class="hero-icons"
        width="108"
        height="44"
      />
      <a href="" class="hero-link">Scroll down</a>
    </div>
    <img
      src="../img/hero-img.jpg"
      alt="watch"
      class="hero-img"
      width="1150"
      height="500"
    />
  </div>
</section>
