<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Welcome to our <span class="hero-span">collection</span>collection of
      premium watches
    </h1>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-icon-scroll">
      <ul class="hero-list">
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
        <li class="hero-item">
          <svg class="hero-icon">
            <use></use>
          </svg>
        </li>
      </ul>
      <a href="" class="hero-link"></a>
    </div>
    <img src="" alt="" class="hero-img" />
  </div>
</section>
